 <!--START SERVICES-->
 <section class="section bg-light" id="services">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 offset-lg-2">
         <h1 class="section-title text-center">Our Services</h1>
         <div class="section-title-border margin-t-20"></div>
         <p class="section-subtitle text-muted text-center padding-t-30 font-secondary"></p>
       </div>
     </div>
     <div class="row margin-t-30">
       <div class="col-lg-4 margin-t-20">
         <div class="services-box">
           <div class="media">
              <i class="fa fa-globe text-custom" aria-hidden="true"></i>
              <i class="pe-7s-global text-custom"></i>
             <div class="media-body ml-4">
               <h4>Online</h4>
               <p class="pt-2 text-muted">Amid lockdown due to Covid-19 everyone is at home and learning never stops for which we are conducting online classes for different courses.We are currently providing online courses for Scratch, Arduino, MIT App Inventor and other courses will be added soon</p>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 margin-t-20">
         <div class="services-box">
           <div class="media">
             <i class="pe-7s-cloud-download text-custom"></i>
             <div class="media-body ml-4">
               <h4>Offline</h4>
               <p class="pt-2 text-muted">Future innovators offers many courses in offline modes for kids in the age group 6-14 at its Hyderabad office. Students learn STEM concepts using Arduino, Scratch, model making with electronic components etc in group of maximum 6 students.</p>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-4 margin-t-20">
         <div class="services-box">
           <div class="media">
             <i class="pe-7s-tools text-custom"></i>
             <div class="media-body ml-4">
               <h4>Mini & Major Projects</h4>
               <p class="pt-2 text-muted">We provide a wide range of B.Tech & M.Tech projects in which we give training and detailed explanation of projects in short span of time and also we include 3-D printed models if required in your projects.</p>

             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 margin-t-20">
         <div class="services-box">
           <div class="media">
             <i class="pe-7s-rocket text-custom"></i>
             <div class="media-body ml-4">
               <h4>Science Projects (School)</h4>
               <p class="pt-2 text-muted">We provide learning experience with science projects such that students learn concepts of Science not just by listening the concepts but also by doing them on their own in a fun way.</p>
             </div>
           </div>
         </div>
       </div>
      
     </div>

   </div>
 </section>
 <!--START SERVICES-->


 <!--START WEBSITE-DESCRIPTION-->
 <!-- <section class="section bg-web-desc">
   <div class="bg-overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="text-white">Build your dream website today</h2>
         <p class="padding-t-15 home-desc mx-auto">But nothing the copy said could convince her and so it didn’t take
           long until a few insidious Copy Writers ambushed her.</p>
         <a href="javascript: void(0);" class="btn btn-bg-white margin-t-30">View Plan & Pricing</a>
       </div>
     </div>
   </div>
 </section> -->

 <!--END WEBSITE-DESCRIPTION-->
