.customlogo img{
    height: 75px;
}
.mat-tab-label{
    background: #ddd;
    -webkit-clip-path: polygon( 95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0% );
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
    width: 20%;
    text-align: center;
    padding: 20px;
    transition: all ease 0.3s;
    font-family: Oswald, sans-serif;
    font-weight: 500;
}
.mat-tab-label.mat-tab-label-active {
    background: #0d4c88;
    color: #ffffff;
    opacity: 1;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: none;
}
.mat-tab-nav-bar, .mat-tab-header{border: none};

