<app-navbar (naviagate)="navigatehere($event)" [currentSection]="currentSection" ></app-navbar>
<p [ngx-scroll-to]='navgatetion' id="master" style="display: none;"></p>
 
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">

   <!--START HOME-->
   <section class="section bg-home home-half" id="home" data-image-src="images/bg-home.jpg">
     <div class="bg-overlay"></div>
     <div class="container">
       <div class="row">
         <div class="col-lg-8 offset-lg-2 text-white text-center">
           <img src="../../../assets/images/custom/logo_new.png" alt="" width="100%">
           <!-- <h1 class="home-small-title" style="font-size: 36px">Future Innovators</h1> -->
           <!-- <h1 class="home-title"><small>Coder of today, Champion of tommorow</small></h1> -->
           <p class="padding-t-15 home-desc mx-auto">Want to be a programmer then join us for learning and improving your programming skills</p>
           <p class="play-shadow margin-l-r-auto mb-4"><a (click)="openWindowCustomClass(content)"
               class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p>
         </div>
       </div>
     </div>
     <div class="wave-effect wave-anim">
       <div class="waves-shape shape-one">
         <div class="wave wave-one" style="background-image: url('assets/images/wave-shape/wave1.png')"></div>
       </div>
       <div class="waves-shape shape-two">
         <div class="wave wave-two" style="background-image: url('assets/images/wave-shape/wave2.png')"></div>
       </div>
       <div class="waves-shape shape-three">
         <div class="wave wave-three" style="background-image: url('assets/images/wave-shape/wave3.png')"></div>
       </div>
     </div>
   </section>
   <ng-template #content let-modal>
     <div class="modal-header">
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <youtube-player [videoId]="'JlvxDa7Sges'" height="450" width="780">
       </youtube-player>
     </div>
   </ng-template>
   <!--END HOME-->
   <section class="section-sm bg-light">
     <div class="container customlogo" >
       <div class="row">
         <div class="col-md-3">
           <div class="client-images my-3 my-md-0">
             <img src="../../../assets/images/custom/scratch.png" alt="logo-img" class="mx-auto img-fluid d-block">
           </div>
         </div>

         <div class="col-md-3">
           <div class="client-images my-3 my-md-0">
             <img src="../../../assets/images/custom/arduino.png" alt="logo-img" class="mx-auto img-fluid d-block">
           </div>
         </div>

         <div class="col-md-3 ">
           <div class="client-images my-3 my-md-0">
             <img src="../../../assets/images/custom/pi.png" alt="logo-img" class="mx-auto img-fluid d-block">
           </div>
         </div>

         <div class="col-md-3">
           <div class="client-images my-3 my-md-0">
             <img src="../../../assets/images/custom/python.png" alt="logo-img" class="mx-auto img-fluid d-block">
           </div>
         </div>
       </div>
     </div>
   </section>




  


   <app-features></app-features>
   <app-blog></app-blog>
   <section class="section bg-light text-center" id="howitworks">

    <h1 class="home-small-title" style="font-size: 36px">How It Works</h1>

  <div class=" " >
    <div class="">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="STEP I">Request For a free demo</mat-tab>
        <mat-tab label="STEP II">Select the course and schedule</mat-tab>
        <mat-tab label="STEP III">Join one hour live session with our trainer</mat-tab>
        <mat-tab label="STEP IV ">Like the session and batch timing will be assigned</mat-tab>
      </mat-tab-group>

      
    
  </div>
  </div>
</section>
   <app-services></app-services>
 
 


   <!-- <app-about></app-about> -->
   <!-- <app-pricing></app-pricing> -->
   <app-contact></app-contact>
   <app-footer></app-footer>
   <!-- <app-switcher></app-switcher> -->
 </div>
